@page
@model RecipeSharingPlatform.Pages.Recipes.IndexModel

<div class="container pt-5">

    <div class="row p-3">
        <div class="col-6">
             <h2 class="text-primary">Recipe List</h2>
        </div>
         <div class="col-6 text-end">
             <a asp-page="Create" class="btn btn-primary">
                 <i class="bi bi-plus-circle"></i> 
                 &nbsp Create New
             </a>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecipeId" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i>&nbsp 
                 </a> |
                 
                 <a asp-page="./Details" asp-route-id="@item.RecipeId" class="btn btn-primary">
                      <i class="bi bi-ticket-detailed"></i>
                 </a> |
                 
                 <a asp-page="./Delete" asp-route-id="@item.RecipeId" class="btn btn-danger"> 
                     <i class="bi bi-trash3"></i>
                  </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
